<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />

	<context:component-scan base-package="com.ynm" />

	<jaxws:endpoint id="gcd" implementor="com.ynm.GCDEndpoint"
		address="/services/gcd">
		<jaxws:inInterceptors>
			<ref bean="gcdServiceSoapHeaderInInterceptor" />
		</jaxws:inInterceptors>
	</jaxws:endpoint>

	<bean id="gcdServiceSoapHeaderInInterceptor" class="com.ynm.GCDServiceSoapHeaderInInterceptor" />
</beans>
